@using LAB4PIparser.Entity
@using LAB4PIparser.Parsers
@using LAB4PIparser.Controllers
@model IEnumerable<LAB4PIparser.Entity.Advertisement>

@{
    ViewBag.Title = "Ads - Olx";
}

<h2>List of Ads</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
    </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td><a href="@Html.DisplayFor(modelItem => item.Url)" />detail</td>
            </tr>
        }

</table>